.top-bar {
  min-height: 90px;
}

nav {
  background-color: #000;
}

.nav-link-text {
  margin-left: 0.5rem;
}

@media (min-width: 990px) {
  .navbar-brand.abs {
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    text-align: center;
  }
}