@import "assets/styles/variables";
@import "assets/styles/mixins.scss";

.offer-item {
  padding-top: 15px;
  padding-bottom: 15px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  min-height: 240px;

  &__content-container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  &__content {
    width: 100%;
  }

  &__text {
    display: block;
    font-weight: 300;
    font-size: 1.2rem;
    @include goldBackground
  }
}

.gradient-box {
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
  $border: 3px;
  background: #161616;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 1em;

  height: 100%;
  @media screen and (min-width: 768px) {
    height: 210px;
  }
  @media screen and (min-width: 1200px) {
    height: 255px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(90deg, $default-gradient);
  }
}
