@import "assets/styles/variables";

.navigation-bar {
  z-index: 1;
  top: 90px;
  background-color: #161616;
}

.navigation-list {
  justify-content: center;
  min-width: 25rem;
  border-bottom: 2px solid transparent;
  border-image-source: linear-gradient(90deg, $default-gradient);
  border-image-slice: 1;
}