@import "assets/styles/mixins";

.footer {
  background-color: #000;

  &__contact-us {
    p {
      margin-bottom: 0
    }

    strong {
      font-weight: 700;
      @include goldBackground
    }
  }

  &__mail {
    white-space: nowrap;
  }

  &__working-hours {
    p {
      margin-bottom: 0;
    }
    h5 {
      @include clearGoldBackground
    }
  }

  &__small-print {
    font-weight: 300;
  }

  &--gold-text {
    font-weight: 500;
    @include goldBackground
  }
}
