@import "~bootstrap/scss/bootstrap";
@import "./variables";
@import "./mixins";

html {
  box-sizing: border-box;
  font-size: 18px;

  @media screen and (min-width: 900px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 22px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding-top: 0;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: 300;
  background-color: #161616;
  color: #E6E6E6;
}

a {
  color: $navbar-dark-color;

  &:hover {
    color: $navbar-dark-hover-color;
  }
}

button {
  padding: 0;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h4, h5 {
  font-weight: 300;
  @include goldBackground
}

h6 {
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: -0.5rem;
}

h3 {
  margin-top: -0.5rem;
  font-size: 1.5rem;
  font-weight: 300;
}