@import "~bootstrap/scss/bootstrap";
@import "./variables";

html {
  box-sizing: border-box;
  font-size: 16px;

  @media screen and (min-width: 900px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding-top: 0;
  font-family: 'Source Sans Pro', 'sans-serif';
  background-color: #161616;
  color: #E6E6E6;
}

a {
  color: $navbar-dark-color;

  &:hover {
    color: $navbar-dark-hover-color;
  }
}

button {
  padding: 0;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  background: -webkit-linear-gradient(45deg, $default-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}